/* Sidebar navigation */
.sidebar-nav {
    /* margin-top: 15px; */
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-transform: uppercase;
}

.sidebar-nav a:hover {
    padding-left: 3px;
    transition: 0.3s;
}

/* Dark and light theme */
body {
    padding-top: 25px;
    background-color: white;
    color: black;
    /* font-size: 15px; */
    display: flex;
    flex-direction: column;
}

.dark-mode {
    background-color: rgb(29, 27, 27);
    color: white;
}

/* Create Icon Buttons */
/* https://www.w3schools.com/howto/howto_css_icon_buttons.asp */
/* Style buttons */
.btn {
    background-color: rgb(207, 218, 214);
    border-color: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 1em;
}
  
/* Darker background on mouse-over */
.btn:hover {
    background-color: gray;
}

.dark-mode .btn {
    background-color: black;
    color: white;
}

.dark-mode .btn:hover{
    background-color: gray;
}

/* Images in Cards */
.book-img {
    width: 60px;
    float: left;
    margin-right: 10px;
}

.author-img {
    width: 60px;
    float: left;
    margin-right: 10px;
}

/* Footer */
.footer {
    background-color: grey;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    text-align: center;
}

/* CARD FOR LIST OF BOOKS AND AUTHORS */

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10rem;
    /* height: 10px; */
    height: 280px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 1px;
    text-align: center;
    border-radius: 5px;
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.dark-mode .card:hover {
    box-shadow: 0 8px 16px 0 rgba(133, 133, 133, 0.5);
}
  /* Add some padding inside the card container */
.container {
    text-align: center;
}

.dark-mode .card {
    /* Add shadows to create the "card" effect */
    background-color: black;
}

/* GLOBAL */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.dark-mode a:hover {
    color: rgb(219, 223, 7);
}

a:hover {
    color: rgb(223, 39, 7);
}

label #menu-open,
label #menu-close {
    color: rgb(0, 0, 255);
    font-size: 30px;
    display: none;
    cursor: pointer;
    z-index: 200;
    position: absolute;
    top: 3px;
    transition-delay: 0.5s;
}



#menu-check {
    display: none;
}

/* INDEX PAGE */
.slider-arrow {
    font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: #555;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
}

.slider-arrow:hover {
    background: #222;
    color: white;
}

section {
    width: 98%;
    margin: auto;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

/* section::-webkit-scrollbar {
    display: none;
} */

section .product {
    /* min-width: 24%; */
    /* height: 90%; */
    background: whitesmoke;
    margin: 0 20px 0 0;
    border-radius: 20px;
    position: relative;
    left: 0;
    transition: 0.5s;
}



/* MEDIA QUERIES */
@media screen and (max-width: 640px) {
    
    #sidebar {
        position: fixed;
        left: -200px;
        background-color: rgb(255, 255, 255);
        border: 1.5px solid;
        width: 180px;
        padding-top: 10px;
        padding-left: 20px;
        transition: 0.3s;
        top: 0;
        z-index: 199;
    }

    .dark-mode #sidebar {
        background-color: black;
    }

    /* #sidebar.active {
        left: 0px;
    } */

    #sidebar a:hover {
        padding-left: 3px;
        transition: 0.3s;
    }

    label #menu-open {
        display: block;
    }

    #menu-check:checked ~ #sidebar {
        left: 0;
    }

    #menu-check:checked ~ label #menu-open {
        display: none;
    }

    #menu-check:checked ~ label #menu-close {
        display: block;
        left: 150px;
        top: 10px;
    }
}