{% extends "catalog/base_generic.html" %}

{% block title %}
    <title>Favour Local Library | Books</title>
{% endblock%}

{% block content %}
    <h1>Books</h1>
    <!-- Generic ListView is used for this page, and it passes it context as modelname_list. -->
    {% if book_list %}
        <div>
            {% for book in book_list %}
                <div class="card" style="display:block;">
                    <a href="{{ book.get_absolute_url }}">
                        {% if book.book_image %}
                            <img src="{{ book.book_image.url }}" style="width: 100%; height: 10rem">
                        {% endif %}
                        <div class="card-text">
                            {{ book.title|truncatewords:5 }}<br>
                            ({{ book.author.last_name }} {{ book.author.first_name|first }}.) 
                        </div>
                    </a>

                    <div class="container">
                        {% if perms.catalog.can_edit_books %}
                            <a href="{% url 'book-update' book.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a href="{% url 'book-delete' book.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <P>There are no books in the library.</P>
    {% endif %}

    {% if perms.catalog.can_edit_books %}
        <div style="clear: both; padding-top: 20px;"></div>
            <a href="{% url 'book-create' %}"><button type="button">Add new book</button></a>
        </div>
    {% endif %}
{% endblock %}