{% extends "catalog/base_generic.html" %}

{% block title %}
    <title>Favour Local Library | Delete {{ bookinstance }}</title>
{% endblock%}

{% block content %}
    <h1>Delete Book Instance</h1>
    <p>Are you sure you want to delete the book Instance: {{ bookinstance }}?</p>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Submit">
        <input type="submit" onclick="window.location='{% url 'book-delete' bookinstance.book.id %}'; return false;" value="Cancel">
    </form>
{% endblock %}