{% extends "catalog/base_generic.html" %}

{% block title %}
    <title>Favour Local Library | Books</title>
{% endblock%}

{% block content %}
    <h1>Book List</h1>
    <!-- Generic ListView is used for this page, and it passes it context as modelname_list. -->
    {% if book_list %}
        <ul>
            {% for book in book_list %}
                <li>
                    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}}) 
                    {% if perms.catalog.can_edit_books %}
                        - 
                        <a href="{% url 'book-update' book.id %}">Edit book</a> - 
                        <a href="{% url 'book-delete' book.id %}">Delete book</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <P>There are no books in the library.</P>
    {% endif %}

    {% if perms.catalog.can_edit_books %}
    <a href="{% url 'book-create' %}"><button type="button">Add new book</button></a>
    {% endif %}
{% endblock %}