{% extends "catalog/base_generic.html" %}

{% block title %}
    <title>Favour Local Library | 
        {% if book %}
            Edit {{book.title}}

        {% else %}
            New Book
        {% endif %}
    </title>
{% endblock%}

{% block content %}
    <!-- enctype="multipart/form-data" is used because we are uploading an image in the form. -->
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
{% endblock %}