{% extends 'catalog/base_generic.html' %}

{% block title %}
    <title> Favour Library | {{ genre_name }} Genre</title>
{% endblock %}

{% block content %}
    <!-- pluralize adds an "s" to Book when we have more than one book. -->
    <h2>{{genre_name}} Genre Book{{ genre_book_list.count|pluralize }}</h2>

    {% if genre_book_list %}
        <div>
            {% for book in genre_book_list %}
                <div class="card">
                    <a href="{{ book.get_absolute_url }}">
                        {% if book.book_image %}
                            <img src="{{ book.book_image.url }}" style="width: 100%; height: 10rem">
                        {% endif %}
                        {{ book.title|truncatewords:5 }}<br>
                        ({{ book.author.last_name }} {{ book.author.first_name|first }}.) 
                    </a>

                    <div class="container">
                        {% if perms.catalog.can_edit_books %}
                            <a href="{% url 'book-update' book.id %}">Edit book</a>
                            <a href="{% url 'book-delete' book.id %}">Delete book</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <P>There are no books in {{ genre_name }} genre.</P>
    {% endif %}
{% endblock %}