{% extends "catalog/base_generic.html" %}

{% block title %}
    <title>Favour Local Library Home</title>
{% endblock %}

{% block content %}
    <h1>Favour Local Library Home</h1>
    <p>
        Welcome to Favour LocalLibrary, a Django project based on
        <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django" target="_blank"><em>Mozilla Developer Network</em></a> 
        Django tutorial Local Library.
    </p>
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instance }}</li>
        <li><strong>Copies available:</strong> {{ num_instance_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
        <li><strong>Genres:</strong> {{ num_genres }}</li>
        <li><strong>Books starting with letter T:</strong> {{ book_starts_with_t }}</li>
    </ul>

    <!-- The pluralize tag add a 's' to time if num_visits > 1 -->
    <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}</p>

{% endblock %}