{% extends "catalog/base_generic.html" %}

{% block title %}
    <title>Local Library Home</title>
{% endblock %}

{% block content %}
    <h1>Local Library Home</h1>
    <p>
        Welcome to LocalLibrary, a website based on 
        <em>Mozilla Developer Network</em> Django course.
    </p>
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instance }}</li>
        <li><strong>Copies available:</strong> {{ num_instance_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
        <li><strong>Genres:</strong> {{ num_genres }}</li>
        <li><strong>Books starting with letter T:</strong> {{ book_starts_with_t }}</li>
    </ul>
{% endblock %}